.dib {
	display: inline-block;
}

.items-center {
	align-items: center;
}

.fw1 {
	font-weight: 100;
}

.fw2 {
	font-weight: 200;
}

.vh-100 {
	height: 100vh;
}

.lh-title {
	line-height: 1.25;
}

.mw6 {
	max-width: 32rem;
}

.ph3 {
	padding-left: 1rem;
	padding-right: 1rem;
}

.ph5 {
	padding-left: 4rem;
	padding-right: 4rem;
}

.mb3 {
	margin-bottom: 1rem;
}

.mb4 {
	margin-bottom: 2rem;
}

.mt4 {
	margin-top: 2rem;
}

.tc {
	text-align: center;
}

.f3 {
	font-size: 1.5rem;
}

.f5 {
	font-size: 1rem;
}

.grow {
	-moz-osx-font-smoothing: grayscale;
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: transform .25s ease-out;
}

.grow:hover, .grow:focus {
	transform: scale(1.05);
}

.grow:active {
	transform: scale(.9);
}

@media screen and (min-width: 30em) {
	.flex-ns {
		display: flex;
	}

	.mt0-ns {
		margin-top: 0;
	}

	.tl-ns {
		text-align: left;
	}
}

@media screen and (min-width: 60em) {
	.mb5-l {
		margin-bottom: 4rem;
	}

	.f1-l {
		font-size: 3rem;
	}

	.f3-l {
		font-size: 1.5rem;
	}
}
