<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{% block title %}{{ config.title }}{% endblock title %}</title>
	<link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
	<style>
	</style>
</head>
<body class="sans-serif">
	<section class="flex-ns vh-100 items-center">
		<div class="mw6 ph5-l ph3-m ph2 h-25">
			<img src="rust-lang_wales.svg">
		</div>
		<div class="tc tl-ns ph3">
			<h1 class="f3 f1-l fw2 mb3 mt4 mt0-ns">rust-lang wales.</h1>
			<h2 class="f5 f3-l fw1 mb4 mb5-l lh-title">Celebrating 4 years of Rust on the 15th May 2019.</h2>
			<div>
				Location in Cardiff to be announced later.<br/>
				<a href="https://twitter.com/rustlang_wales">@rust-lang_wales</a>
			</div>
		</div>
	</section>
</body>
</html>
